.box{
  margin: 10px;
}
.nav{
  background-color: rgb(86, 84, 84);
}

.flex-container{
  display: flex;

}
.boxinside{
   margin: 10px;
  padding: 20px;
  background-color: rgba(128, 112, 194, 0.801);
}
.boxinside1{
  
  padding: 20px;
  background-color: rgba(119, 123, 126, 0.801);
}
.boxinside2{
  padding: 20px;
  background-color: rgba(119, 123, 126, 0.801);

}
.boxinside3{
  
  background-color: rgba(119, 123, 126, 0.801);

  padding: 20px;
}
.box-search{
 margin-top:10px ;
  padding: 20px;
}
.boxinside4 {
margin: 10px;
  padding: 20px;
  background-color: rgba(119, 123, 126, 0.801);

}